In [ ]:
import sqlite3                # for using the DBMS with inbuilt server

In [ ]:
from google.colab import drive
drive.mount('/jash')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /jash

In [ ]:
connection = sqlite3.connect(":memory:")
cursor = connection.cursor()

sql_file = open("/jash/My Drive/random.sql")
sql_as_string = sql_file.read()
cursor.executescript(sql_as_string)

In [ ]:
for row in cursor.execute("SELECT * FROM airports"):      #Selected the rows of the table airports.
    print(row)

('ORD', 'Chicago', 'United States')
('JFK', 'New York City', 'United States')

In [ ]:
import pandas as pd

query = "SELECT * FROM airports;"
df = pd.read_sql_query(query,connection)

In [ ]:
df.head()

  iata           city        country
0  ORD        Chicago  United States
1  JFK  New York City  United States

In [ ]:
df.to_json(r'/jash/My Drive/random.json')

## Networkx visualization of graph

In [ ]:
import pandas as pd
df= pd.read_csv('/jash/My Drive/Dark web analysis project/akash.edgelist')

In [ ]:
df.head()

  Node 1 "Node 2"
0       9491 7600
1       9491 6359
2       9491 1558
3       9491 9288
4       9491 9475

In [ ]:
import networkx as nx

In [ ]:
G = nx.Graph()

In [ ]:
G.add_edge(1,2)
edge = ("d", "e")
G.add_edge(*edge)
edge = ("a", "b")
G.add_edge(*edge)

print("Nodes of graph: ")
print(G.nodes())
print("Edges of graph: ")
print(G.edges())

Nodes of graph:
[1, 2, 'd', 'e', 'a', 'b']
Edges of graph:
[(1, 2), ('d', 'e'), ('a', 'b')]

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
nx.draw(G)

TypeError: ignored