In [2]:
import sqlite3                # for using the DBMS with inbuilt server

In [ ]:
from google.colab import drive
drive.mount('/jash')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /jash

In [ ]:
connection = sqlite3.connect(":memory:")
cursor = connection.cursor()

sql_file = open("/jash/My Drive/random.sql")
sql_as_string = sql_file.read()
cursor.executescript(sql_as_string)

In [ ]:
for row in cursor.execute("SELECT * FROM airports"):      #Selected the rows of the table airports.
    print(row)

('ORD', 'Chicago', 'United States')
('JFK', 'New York City', 'United States')

In [ ]:
import pandas as pd

query = "SELECT * FROM airports;"
df = pd.read_sql_query(query,connection)

In [ ]:
df.head()

  iata           city        country
0  ORD        Chicago  United States
1  JFK  New York City  United States

In [ ]:
df.to_json(r'/jash/My Drive/random.json')